<div id="dialog">
    <h1 mat-dialog-title>{{data.action}} Course</h1>
    <div mat-dialog-content>
        @if(data.action=='Add' || data.action=='Update')
        {
        <mat-form-field>
            <mat-label>כותרת הקורס</mat-label>
            <input matInput [(ngModel)]="data.title" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>תיאור הקורס</mat-label>
            <textarea matInput [(ngModel)]="data.description"></textarea>
        </mat-form-field>
        }
        @if(data.action=='Delete' || data.action=='Update')
        {
        <mat-form-field>
            <mat-label>מזהה קורס לעידכון</mat-label>
            <input matInput [(ngModel)]="data.idCourse" />
        </mat-form-field>
        }


    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">בטל</button>
        <button mat-button [mat-dialog-close]="data">שמור</button>
    </div>
</div>