<h2>הרשמה</h2> 

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>שם</mat-label>
        <input matInput formControlName="name" placeholder="הכנס את שמך" required>
        @if (registerForm.get('name')?.hasError('required')) {
        <mat-error>שם הוא שדה חובה</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>מייל</mat-label>
        <input matInput type="email" formControlName="email" placeholder="הכנס את המייל שלך" required>
        @if (registerForm.get('email')?.hasError('required')) {
        <mat-error>מייל הוא שדה חובה</mat-error>
        } @else if (registerForm.get('email')?.hasError('email')) {
        <mat-error>המייל לא תקני</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>סיסמה</mat-label>
        <input matInput type="password" formControlName="password" placeholder="הכנס סיסמה" required>
        @if (registerForm.get('password')?.hasError('required')) {
        <mat-error>סיסמה היא שדה חובה</mat-error>
        } @else if (registerForm.get('password')?.hasError('minlength')) {
        <mat-error>הסיסמה חייבת להיות לפחות 4 תווים</mat-error>
        } @else if (registerForm.get('password')?.hasError('maxlength')) {
        <mat-error>הסיסמה לא יכולה להיות יותר מ-8 תווים</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>תפקיד</mat-label>
        <mat-select formControlName="role" required>
            <mat-option value="admin">מנהל</mat-option>
            <mat-option value="teacher">מורה</mat-option>
            <mat-option value="student">תלמיד</mat-option>
        </mat-select>
        @if (registerForm.get('role')?.hasError('required')) {
        <mat-error>תפקיד הוא שדה חובה</mat-error>
        }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">שלח</button>
</form>

@if (successMessage) {
<div class="success-message">
    {{ successMessage }}
</div>
}